.markdown-body {

/* MAIN */

*, ::before, ::after {
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul:first-child,
ol:first-child{
  margin-top: 30px;
}

*:first-child {
  margin-top: 0 !important;
}
*:last-child {
  margin-bottom: 0 !important;
}



a {
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

h1,
h2 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // position: relative;
  margin-top: 1.4em;
  margin-bottom: 1em;
  /*font-weight: bold;*/
  line-height: 1.4;
  cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
}

h1 tt,
h1 code {
  font-size: inherit;
}
h2 tt,
h2 code {
  font-size: inherit;
}
h3 tt,
h3 code {
  font-size: inherit;
}
h4 tt,
h4 code {
  font-size: inherit;
}
h5 tt,
h5 code {
  font-size: inherit;
}
h6 tt,
h6 code {
  font-size: inherit;
}

h1 {
  /*padding-bottom: .3em;*/
  font-size: 2.0em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
h2 {
  /*padding-bottom: .3em;*/
  font-size: 1.65em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
h3 {
  font-size: 1.35em;
  line-height: 1.43;
}
h1, h2 {
  padding: 2em 0.5em;
  background: #3ea0be;
}
h4 {
  font-size: 1.15em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
p,
blockquote,
ul,
ol,
dl,
table{
    margin: 0.8em 0;
}
li>ol,
li>ul {
  margin: 0 0;
}



ul > li {
  list-style-type: disc;
}
ul > li ul > li {
  list-style-type: circle;
}
ul > li ul > li ul > li {
  list-style-type: square;
}
ol > li {
  list-style-type: decimal;
}




del {
  opacity: 0.2;
}

h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
  margin-top: 0;
}
li p.first {
  display: inline-block;
}
li p {
  margin: 0.2em 0;
  padding: 0;
}
ul,
ol {
  padding-left: 30px;
}
ul:first-child,
ol:first-child {
  margin-top: 0;
}
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
blockquote {
  border-radius: 3px;
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  font-size: 0.95em;
}
blockquote blockquote {
  padding-right: 0;
}


table {
  border-radius: 3px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  /*border-left: 1px solid #eee;*/
  /*border-right: 1px solid #eee;*/
  padding: 0;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
}
table thead tr:first-child {
  border-bottom: 2px solid #ddd;
}
table tbody tr:first-child {
  border-top: 2px solid #0f0;
}
table tr {
  border-top: 0px solid #eee;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
}
table tr th {
  font-weight: bold;
  border-left: 1px dotted #eee;
  border-right: 1px dotted #eee;
  text-align: left;
  margin: 0;
  padding: 0.25em 0.5em;
}
table tr td {
  border-left: 1px dotted #eee;
  border-right: 1px dotted #eee;
  text-align: left;
  margin: 0;
  padding: 0.25em 0.5em;
}
table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}
table hr {
  margin: 0.5em 0;
}

.md-fences,
code,
tt {
  /*border: 1px solid #ddd;*/
  border-radius: 3px;
  padding: 2px 4px 2px 4px;
  font-size: 0.85em;
}

mark {
  background: rgba(25, 201, 215, 0.05);
  border-bottom: 1px dotted rgba(0, 164, 255, 0.5);
}

mark:hover {
  background: rgba(25, 201, 215,0.25);
  border-bottom: 1px solid rgba(0, 164, 255,0.8);
}

.task-list{
  padding-left: 0;
}

.task-list-item {
  padding-left:32px;
}

.task-list-item input {
  top: 3px;
  left: 8px;
}

img {
  max-height: 400px;
  width: auto;
}

}
