.p-popover {
  --p-popover-shadow: 0px 2px 12px 0px #0000001a, 0px 12px 64px -6px #0000001a, 0px 12px 64px -12px #0000001a;
  // --p-popover-border-color: #88888888;
}
// .p-popover::before, .p-popover::after { display: none; }